* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

.text {
    font-size: 28px;
    color: black;
    height: 80px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-left: 85px;
}

.text::before {
    content: '';
    height: 80px;
    width: 80px;
    border: 4px solid lawngreen;
    border-radius: 40px;
    transition-property: width;
    transition-duration: .5s;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
}

.text::after {
    content: '';
    width: 32px;
    height: 8px;
    background-color: lawngreen;
    position: absolute;
    left: 24px;
    transition-property: width;
    transition-duration: .5s;
    box-sizing: border-box;
}

.text:hover::before {
    width: 105%;
}

.text:hover::after {
    width: 22%;
}
