* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    overflow: hidden;
}

.items {
    font-size: 23px;
    padding: 10px 35px;
    cursor: pointer;
    position: relative;
    background-color: white;
    transition-property: padding-left;
    transition-duration: .5s;
}

.items::before {
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background-color: crimson;
    transition-property: width;
    transition-duration: .5s;
    position: absolute;
    left: 10px;
    top: 15px;
}

.items::first-letter {
    color: crimson;
}

.items:hover {
    padding-left: 4.5%;
}

.items:hover::before {
    width: 2.4%;
}